
/* Outer container */
#outerWrapper {

  text-align:center;
  border: black 5px;
  border-radius: 10%;
  margin: 50px 100px;
  border: black solid 10px;
  box-shadow: 10px 25px 27px grey;
  font-family: 'vt323', sans-serif;
  background-color: white;
}
/* Total price and amount customer gave */
#inputBoxes {
  margin: 5px 50px;
  padding: 15px;
  text-align: center;
  margin: auto;
}
/* Change amount (not brokendown) */
#totalChangeDueTinyDiv {
  margin-top: 20px;
  font-size: 1.2em;
}
/* coin images */
#dollas {
  background-image: url("img/one.jpg");
  height: 100px;
  width: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}
#twentyFive {
  background-image: url("img/download.jpeg");
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: contain;
  background-repeat:no-repeat;

}
#ten{
  background-image: url("img/dimes.png");
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: contain;
  background-repeat:no-repeat;

}
#five{
  background-image: url("img/nickel.png");
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: contain;
  background-repeat:no-repeat;

}
#one{
  background-image: url("img/penny.png");
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: contain;
  background-repeat:no-repeat;

}
/* Results broken down */

h1 {
  text-shadow: 2px 3px 4px grey;
}
/* Button Design */
#calculateChange:active {
  background-color: silver;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  cursor: pointer;
  border-style:none;
}
#calculateChange:hover {
  cursor: pointer;
}

#calculateChange {
  padding: 10px 15px;
  font-size: 1.5em;
  outline: none;
  color: #fff;
  border-radius: 15px;
  box-shadow: 0 9px grey;
  display: block;
  margin: auto;
  width: 50%;
  margin-top: 5%;
  background-color: black;
  font-family: 'vt323', sans-serif;
}
/* Total change due */
p {
  font-size: 2em;
}
/* Results in change */
td {
  height:100px;
  width:100px;
  text-align:center;

}
.textSize{
  font-size: 1.6em;
}
